@model RepositoryDesignPattern.EntityLayer.Concrete.Product
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<form method="post">
    <div class="container">
        <input type="hidden" asp-for="ProductID"/>
        <br />
        <label>Product Name</label>
        <input type="text" asp-for="ProductName" class="form-control" />
        <br />
        <label>Product Stock</label>
        <input type="text" asp-for="ProductStock" class="form-control" />
        <br />
        <label>Product Price</label>
        <input type="text" asp-for="ProductPrice" class="form-control" />
        <br />
        <label>Category Name</label>
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
        <br />
        <button class="btn btn-dark">Update</button>
    </div>
</form>
