@model DesignPattern.Mediator.MediatorPattern.Results.GetProductByIdQueryResult

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="Container">
    <br />
    <label>Product ID</label>
    <input type="text" class="form-control" asp-for="ProductID" />
    <br />
    <label>Product Name</label>
    <input type="text" class="form-control" asp-for="ProductName" />
    <br />
    <label>Product Stock</label>
    <input type="text" class="form-control" asp-for="ProductStock" />
    <br />

</div>